<template lang="pug">

.footer
  .footer-logo 
    .footer-line
  .footer-copyright Copyright © JUMBO Reserved <br/> vivienne/add-cash-flow/v3--dev
  

  

</template>

<script>



export default {
  name: 'Footer',
  data: function() {
    return{
    }
  },
  props: {

  },
  methods: {
    
  },
  setup() {
    
  }
}
</script>
