<template lang="pug">

.header 
  .header-container
    .login-data-wrong-message.no-show
      .login-data-wrong-message-description 内容输入错误
    .login
      .username(:class="{'white-input': !focusStatus.username, 'focus-white-input': focusStatus.username}")
        span.username-icon
        span a_
        input.username-input(v-model='loginData.username' maxlength="77" placeholder="账号" @focus="toggleBlockFocus('username')" @blur="toggleBlockFocus('username')")
      .password(:class="{'white-input': !focusStatus.password, 'focus-white-input': focusStatus.password}")
        span.password-icon
        input.password-input(v-model='loginData.password' ref="passwordInput" type="password" maxlength="77" placeholder="密码" @focus="toggleBlockFocus('password')" @blur="toggleBlockFocus('password')")
        span.password-eye(@click="showPassword")
      .login-btn(@click="loginSubmit") 登录
    .problem-handle
      span 忘记密码？
      span ｜
      .customer-service
        span.headphone-icon
        span 客服中心
    .country

</template>

<script>

import { ref, reactive } from 'vue'
import useVuelidate from '@vuelidate/core'
import { required, minLength, helpers, alphaNum } from '@vuelidate/validators'
import axios from 'axios'
export default {
  name: 'Header',
  props: {

  },
  setup() {
    const loginData = reactive({
      username: null,
      password: null,
    })
    const passwordInput = ref(null)

    const LoginAPIUrl = "http://dctnrsaengine.gakkixmasami.com/v1/front/member/login"
    // login
  
    function showPassword() {
      const passwordInputEl = passwordInput.value
      if(passwordInputEl.getAttribute('type') === 'password') {
        console.log('==', passwordInputEl)
        passwordInputEl.setAttribute('type', 'text')      
      } else {
        console.log('!==', passwordInputEl)
        passwordInputEl.setAttribute('type', 'password')
      }
    }


    function toggleBlockFocus(el) {
      if(focusStatus[el]) focusStatus[el] = false
      else focusStatus[el] = true

    }

    const focusStatus = reactive({
      username: false,
      password: false
    })

    const rules = reactive({
      username: {
        required,
        minLength: helpers.withMessage(() => "必须多于6个字符", minLength(6)),
        alphaNum: helpers.withMessage(() => "仅能是英文或数字", alphaNum),
      },
      password : {
        required,
        minLength: helpers.withMessage(() => "必须多于6个字符", minLength(6)),
      }
    })


    function showErrorMessage() {
      let wrongMsgEl = document.querySelector('.login-data-wrong-message')
      wrongMsgEl.classList.remove('no-show')
      setTimeout(() => {
        wrongMsgEl.classList.add('no-show')
      }, 1500)
    }
    const v$ = useVuelidate(rules, loginData)

      function loginSubmit() {

      if(v$.value.$invalid) {
        console.log(123)
        showErrorMessage()
        return
      }

      axios.post(LoginAPIUrl, {
        "account": `a_${loginData.username}`,
        "password": loginData.password,
        "loginIP":"125.227.199.147",
        "platID": 1
      })
      .then((res) => {
        console.log('res:', res)
      })
      .catch(function (error) {
        // handle error
        console.log('error:', error);
      })
      .then(function () {
        // always executed
      });

      alert(`
        "account": a_${loginData.username},
        "password": ${loginData.password},

        login!!
      `)

    }
 
    return {
      showPassword,
      toggleBlockFocus,
      focusStatus,
      loginData,
      loginSubmit,
      passwordInput,
      v$,
      showErrorMessage
    }
  }
}
</script>
