
<template lang="pug">

.section-introduction 
  .introduction-computer(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='200' )
  .introduction-info(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='200')
    .introduction-info-title 产品丰富
    .introduction-info-article 涵盖世界领先的合法博彩娱乐PT平台、MG平台、BC平台及AG平台等。
  .introduction-balls
    .yellow-ball(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='300' data-aos-delay="600")
    .purple-ball(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='300' data-aos-delay="300")
    .green-ball(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='300' data-aos-delay="700")
    .red-ball(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='300' data-aos-delay="50")
    .blue-ball(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='300' data-aos-delay="300")


  

</template>

<script>

import { onMounted } from 'vue'



export default {
  name: 'SectionIntroduction',
  data: function() {
    return {

    }
  },
  props: {

  },

  setup() {
    onMounted(() => {
    
    })
    return {
    }
  }
}
</script>
