
<template lang="pug">

.section-tax
  .tax-logo-jumbo
  .tax-info(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='700')
    .tax-info-title {{stringList.taxInfo.title}}
    .tax-info-article {{stringList.taxInfo.article}}
  .tax-cards
    <SectionTaxCard :iconUrl='stringList.cardInfos[0].topInfos.iconUrl' :title='stringList.cardInfos[0].topInfos.title' :bottomInfos='stringList.cardInfos[0].bottomInfos' :animation="stringList.cardInfos[0].animation"/>
    <SectionTaxCard :iconUrl='stringList.cardInfos[1].topInfos.iconUrl' :title='stringList.cardInfos[1].topInfos.title' :bottomInfos='stringList.cardInfos[1].bottomInfos' :animation="stringList.cardInfos[1].animation"/>
    <SectionTaxCard :iconUrl='stringList.cardInfos[2].topInfos.iconUrl' :title='stringList.cardInfos[2].topInfos.title' :bottomInfos='stringList.cardInfos[2].bottomInfos' :animation="stringList.cardInfos[2].animation"/>
  .tax-detail(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='300' data-aos-duration='900')
    .tax-detail-box 
      .tax-detail-title {{stringList.commissionDetail.calculate.title}}
      .tax-detail-description {{stringList.commissionDetail.calculate.formula}}
      .tax-detail-description {{stringList.commissionDetail.calculate.expense.description}}
      .tax-detail-description(v-for='item in stringList.commissionDetail.calculate.expense.items') {{item}}
    .tax-detail-box 
      .tax-detail-title {{stringList.commissionDetail.standard.title}}
      .tax-detail-description(v-for='item in stringList.commissionDetail.standard.items') {{item}}

  .tax-logo-comission



</template>

<script>
import SectionTaxCard from './SectionTaxCard'
import { onMounted } from 'vue'

export default {
  name: 'SectionTax',
  props: {
    
  },
  components: {
    SectionTaxCard
  },
 
  setup() {
    onMounted(() => {
      const goldEl = document.querySelector('.is-gold')  
      document.addEventListener('aos:in', ({ detail }) => {
        
        if(detail == goldEl) {
          setTimeout(() => {
            goldEl.classList.add('gold')
          }, 1000)
        }
      })
       document.addEventListener('aos:out', ({ detail }) => {
        if(detail == goldEl) {
          goldEl.classList.remove('gold')
        }
      })
    })
    
    const stringList = {
      taxInfo: {
        title: '佣金方案',
        article: '您只需要网络推广或是介绍您身边朋友成为我们的玩家，尊博会根据代理每月游戏的净利润收入按照佣金比例40%~60%计算佣金。'
      },
      cardInfos:[
        { 
          animation: {
            delay: 300
          } ,
          topInfos: {
            iconUrl: 'section-tax-coin.svg',
            title: '一级代理',
          },
          bottomInfos: {
            memberTitle: '当月活跃会员',
            memberNum: '3个以上',
            profitTitle: '当月净利润(RMB)',
            profitNum: '0-200,000',
            commissionTitle: '佣金比例',
            commissionNum: '40%',
            isGold: false
          },
        },
        { 
          animation: {
            delay: 500
          },
          topInfos: {
            iconUrl: 'section-tax-money.svg',
            title: '二级代理',
          },
          bottomInfos:  {
            memberTitle: '当月活跃会员',
            memberNum: '10个以上',
            profitTitle: '当月净利润(RMB)',
            profitNum: '200,000-300,000',
            commissionTitle: '佣金比例',
            commissionNum: '50%',
            isGold: false
          },
        },
        { 
          animation: {
            delay: 700
          },
          topInfos: {
            iconUrl: 'section-tax-crown.svg',
            title: '三级代理',
          },
          bottomInfos: {
            memberTitle: '当月活跃会员',
            memberNum: '15个以上',
            profitTitle: '当月净利润(RMB)',
            profitNum: '300,000 以上',
            commissionTitle: '佣金比例',
            commissionNum: '60%',
            isGold: true
          },
        }
      ],
      commissionDetail: {
        calculate: {
          title: ' 佣金计算方式',
          formula: '计算公式：游戏输赢 - 平台费 - 优惠总数 - 返水总数 - 存款手续费 = 净利※ 净利 x 佣金比例 = 实际佣金',
          expense: {
            description: '玩家输赢里面包含了平台给玩家的所有优惠红利以及公司向平台方支付的平台费。尊博娱乐合作伙伴需共同承担相应比例的费用包括：',
            items: [
              '（ 1 ）优惠：尊博娱乐给予玩家的现金红利。',
              '（ 2 ）返水：尊博娱乐每日会给玩家相应的返水。',
              '（ 3 ）平台费用：尊博娱乐需提款游戏平台供应商10%~15%的平台费用；若该平台未计算则会显示0%。',
              '（ 4 ）存取款费用：玩家存取款所产生的支付费用。',
              '合作伙伴必须严格遵守尊博娱乐相关条款条例，以免造成不必要的误会。',
            ]
          }
        },
        standard: {
          title: ' 佣金计算标准',
          items: [
          '1. 每月1-5日为计算佣金时间，代理佣金将会在6号统一派发至代理账户中。',
          '2. 当月代理需要达到3名活跃会员才算是达到佣金标准，若没达到佣金标准，当月的佣金将不会发放给代理，且佣金不会累计。',
          '3. 活跃会员标准：当月存款额达300元，或有效投注额达2000，每个月最少新增1名活跃会员。',
          '4. 若当月佣金为负盈利（ 会员赢钱，公司亏损 ），负盈利将会累计至下个月计算，直到佣金转正，系统就会自动计算盈利。',
          '5. 若合作伙伴自己的游戏账号注册到自己代理线下，将无条件取消代理资格，终止合作。（ 佣金不予发放 ）',
          '6. 自最后登录日期算起，超过6个月未登录的代理账号，主账户金额将清零处理。（ 将会取消代理资格 ）'
        ]
      }
    }

      
    
  }
    return {
      stringList,
    }
  }
}
</script>
