
<template lang="pug">

.section-dominant 
  .dominant-container
    .dominant-title 尊博优势
    .dominant-list(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='300')
      <SectionDominantItem v-for="dominantItem in dominantItems" :article="dominantItem.article" :iconUrl="dominantItem.iconUrl" :title="dominantItem.title"/>      
  .dominant-logo



  

</template>

<script>

import SectionDominantItem from './SectionDominantItem'


export default {
  name: 'SectionDominant',
  props: {

  },
  setup() {
    const dominantItems = [
      {
        title: '强大的品牌优势',
        iconUrl: 'dominant-brand-icon.svg',
        article: '多年业界运营实践经验，资历丰富。'
      },
      {
        title: '提款',
        iconUrl: 'dominant-atm-icon.svg',
        article: '20万以下提款快速到账，信誉保证。'
      },
      {
        title: '安全',
        iconUrl: 'dominant-safe-icon.svg',
        article: '尊博采用128位SSL高标准加密技术。'
      },
      {
        title: '佣金结算',
        iconUrl: 'dominant-tax-icon.svg',
        article: '尊博采用全球最便捷的月佣金结算方式。'
      },
      {
        title: '服务',
        iconUrl: 'dominant-time-all-icon.svg',
        article: '7 x 24 小时在线服务，提供优质服务。'
      },
      {
        title: '平台自动化',
        iconUrl: 'dominant-setting-icon.svg',
        article: '自助优惠，独立创新研发。'
      },
      
    ]
      return {
        dominantItems
      }
    
  },
  components: {
    SectionDominantItem
  }
}
</script>
