<template lang="pug">


.dominant-item
  .dominant-item-icon(:style="{ 'background-image': `url(${require(`../assets/${iconUrl}`)})`}")
  .dominant-item-info
    .dominant-item-info-title {{title}} 
    .dominant-item-info-article {{article}} 
  

</template>

<script>



export default {
  name: 'SectionDominantItem',
  props: {
    'iconUrl': String,
    'title': String,
    'article': String,
    
  }
 
}
</script>
