
<template lang="pug">



.section-logo
  .background
    #particles-js(ref="star" @mousemove='e => {starMove(e)}') 
    .logo
      .jumbo-logo(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='700')
        .jumbo-title 尊博娱乐
      .diamand-logo(data-aos="fade-right" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='500' data-aos-delay='800')
      .dice-logo(data-aos="fade-left" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='500' data-aos-delay='500')
      .coin-logo(data-aos="fade-left" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='500' data-aos-delay='600')
    .join-btn(@click="showRegister" data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='100' data-aos-duration='700' data-aos-delay='500') 加入我们
    .contact-info(data-aos="fade-up" data-aos-anchor-placements='top-bottom' data-aos-offset='200' data-aos-duration='700' data-aos-delay='500') 联系方式｜代理部经理 zunbo1688@gmail.com

</template>

<script>


import 'particles.js'
import particlesJSON from '../assets/particles.json'

import { ref, onMounted } from 'vue'

export default {
  name: 'SectionLogo',
  props: {

  },
  components: {
  
  },
  setup() {

    const star = ref(null)
    let moveX = 0
    let moveY = 0
    function showRegister() {
      document.querySelector('.section-register').classList.remove('no-show')
      document.querySelector('html').classList.add('noscroll')
      document.querySelector('.section-logo').classList.add('darker')
      document.querySelector('.section-dominant').classList.add('darker')
      document.querySelector('.header').classList.add('darker')

    }

    
    function initParticles() {
      window.particlesJS('particles-js', particlesJSON)
    }

    function starMove(e) {
      let starEl = star.value
      moveX = Math.floor((800 - e.offsetX) / 60)
      moveY = Math.floor((300 - e.offsetY) / 60)
      starEl.style.transform = `translate(${moveX}px, ${moveY}px)`
    }
    
    onMounted(() => {
      initParticles()
    })
    return {
      initParticles,
      star,
      showRegister,
      moveX,
      moveY,
      starMove

    }
  },

}
</script>
