
<template lang="pug">

         
.tax-card(:class="{'is-gold': bottomInfos.isGold}"
          data-aos="fade-up" 
          data-aos-anchor-placements='top-bottom' 
          data-aos-offset='300' 
          :data-aos-delay='animation.delay')

  .tax-card-icon(:style="{'background-image': `url(${require(`../assets/${iconUrl}`)})`}")
  .tax-card-title {{title}} 
  .tax-card-bottom-info
    .tax-card-bottom-info-title {{bottomInfos.memberTitle}}
    .tax-card-bottom-info-num {{bottomInfos.memberNum}}
    .tax-card-bottom-info-title {{bottomInfos.profitTitle}}
    .tax-card-bottom-info-num {{bottomInfos.profitNum}}
    .tax-card-bottom-info-title {{bottomInfos.commissionTitle}}
    .tax-card-bottom-info-num {{bottomInfos.commissionNum}}

  
  

</template>

<script>
export default {
  name: 'SectionTaxCard',
  data: function() {
    return{
      
    }
  },
  components: {
  },
  props: {
    'iconUrl': String,
    'title': String,
    'bottomInfos': Object,
    'animation': Object
  },
  setup() {
    

    
    return {

    }
  }

  
}
</script>
