
<template lang="pug">


.section-register.no-show
  .register-data-wrong-message.no-show
    .register-data-wrong-message-description 内容输入错误
  .register-close(@click="closeRegister")
  .register-title 代理注册
  .err-test  
  
  .register-process 
    <SectionRegisterProcessBall :nowStep="nowStep " number="1" stepDescription="登录资料"/>
    .register-process-line(:class="{'normal-line': nowStep <= 1, 'red-line': nowStep > 1, }")
    <SectionRegisterProcessBall :nowStep="nowStep " number="2" stepDescription="个人资讯"/>
    .register-process-line(:class="{'normal-line': nowStep <= 2, 'red-line': nowStep > 2, }")
    <SectionRegisterProcessBall :nowStep="nowStep" number="3" stepDescription="银行卡资料"/>
    .register-process-line(:class="{'normal-line': nowStep <= 3, 'red-line': nowStep > 3, }")
    <SectionRegisterProcessBall :nowStep="nowStep" number="4" stepDescription="完成"/>
  

  
  .register-datas 
    <SectionRegisterDataLogin :v="v$.login" v-if="nowStep == 1 " :stepClickStatus="stepClickStatus" :data='allData.login' :class="{'fade-left': lastStep == 1, 'fade-right': lastStep == 2}" :nowStep="nowStep" /> 
    <SectionRegisterDataUser :v="v$.user" v-if="nowStep == 2" :stepClickStatus="stepClickStatus" :data='allData.user' :class="{'fade-left': lastStep == 1, 'fade-right': lastStep == 3}" :nowStep="nowStep"  />
    <SectionRegisterDataBank :v="v$.bank" v-if="nowStep == 3" :stepClickStatus="stepClickStatus" :data='allData.bank' :class="{'fade-left': lastStep == 2, 'fade-right': lastStep == 4}" :nowStep="nowStep"  />
  .register-btns
    .register-btn.last-step-btn(v-if="nowStep > 1" @click="setLastStep(nowStep - 1) " ) 上一步
    .register-btn.next-step-btn(v-if="nowStep < 4" @click="setStep(nowStep + 1)" :class="{'first-step-btn': nowStep == 1, 'rest-step-btn': nowStep > 1}") 下一步
    .register-btn.submit-btn.rest-step-btn(v-if="nowStep == 4" @click="registerSubmit") 提交



</template>

<script>
import { ref, reactive, provide, onMounted } from 'vue'
import axios from 'axios'
import useVuelidate from '@vuelidate/core'
import { required, email, minLength, helpers, alphaNum, numeric } from '@vuelidate/validators'
import SectionRegisterProcessBall from './SectionRegisterProcessBall'
import SectionRegisterDataLogin from './SectionRegisterDataLogin'
import SectionRegisterDataUser from './SectionRegisterDataUser'
import SectionRegisterDataBank from './SectionRegisterDataBank'

export default {
  name: 'SectionRegister',
  
  setup() {

    onMounted(() => {
      const pingAPIURL = "http://dctnrsaengine.gakkixmasami.com/ping"
      axios.get(pingAPIURL)
        .then(res => {
          localStorage.setItem('ip', res.data.result.ip)
        })
        .catch(err => {
          console.log(err)
        })
    })


    function showErrorMessage() {
      let wrongMsgEl = document.querySelector('.register-data-wrong-message')
      wrongMsgEl.classList.remove('no-show')
      setTimeout(() => {
        wrongMsgEl.classList.add('no-show')
      }, 1500)
    }


    function isDisplay() {
      function noShowRegister() {
        document.querySelector('.section-register').classList.add('no-show')
        document.querySelector('html').classList.remove('noscroll')
        document.querySelector('.section-logo').classList.remove('darker')
        document.querySelector('.section-dominant').classList.remove('darker')
        document.querySelector('.header').classList.remove('darker')
      }
      function closeRegister() {
        setStep(1)
        noShowRegister()
        stepClickStatus["1"] = false
        stepClickStatus["2"] = false
        stepClickStatus["2"] = false
      }
      return {noShowRegister, closeRegister}
    }
   
  function registerSubmit(){
    let login = allData.login
    let user = allData.user
    let bank = allData.bank
    const RequestAPIURL= "http://dctnrsaengine.gakkixmasami.com/v1/front/ext_agent/register"


    axios.post( RequestAPIURL, {
      "account": `a_${login.username}`,
      "password": login.password,
      "checkPassword": login.checkedPassword,
      "name": user.realName,
      "mail": user.email,
      "phone": user.phone,
      "wechat": user.wechat,
      "qq": user.QQ,
      "bank": {"bankID": 7,
      "bankName": bank.bankName},
      "bankID": 7,
      "province": bank.province,
      "city": bank.city,
      "branch": "王茂己",
      "cardAccount": bank.bankCardNumber,
      "cardName": user.realName,
      // 去抓一隻ping api
      "registerIP": localStorage.getItem('ip'),
      "agree": bank.agreeCheck,
      "remark": ""})
      .then((res) => {
        console.log('res:', res)
      })
      .catch(function (error) {
        // handle error
        console.log('error:', error);
      })
      .then(function () {
        // always executed
      });
  

    alert(`
      一、登入資料
        帳號：${login.username}
        密碼：${login.password}

      二、個人資訊
        真實姓名：${user.realName}
        郵箱：${user.email}
        手機：${user.phone}
        微信號：${user.wechat}
        QQ 號：${user.QQ}

      三、銀行卡資料
        銀行：${bank.bankName}
        開戶省：${bank.province}
        開戶市：${bank.city}
        開戶網點：${bank.netDot}
        銀行卡號：${bank.bankCardNumber}
        開戶姓名：${user.realName}
        是否閱讀並同意開戶協議：${bank.agreeCheck}

    `)
  }

    const { nowStep, lastStep, setLastStep, setStep } = handleStep()
    const { noShowRegister, closeRegister } = isDisplay()
    const allData = reactive({
      login: {
        username: null,
        password: null,
        checkedPassword: null
      },
      user: {
        realName: null,
        email: null,
        phone: null,
        wechat: null,
        QQ: null
      },
      bank: {
        bankName: null,
        province: null,
        city: null,
        netDot: null,
        bankCardNumber: null,
        agreeCheck: false
      }
    })
    const lengthValidation = (num) => (data) => {
      if(data == null) return true
      if(data.length != num) return false
      return true
    }

  const checkedPasswordValidation = data => {
    let result = true
    
    if(data == allData.login.password) {
      if(data != allData.login.checkedPassword ) result = false
    }
    if(data == allData.login.checkedPassword) {
      if(data != allData.login.password ) result = false
    }
    return result
  }


  const chineseValidation = data => {
    if(data == null) return true
    let express = /[^\u4e00-\u9fa5]/g
    // console.log(express.test(data)
    return !express.test(data)
  }

  const chineseEngValidation = data => {
    let express = /[^\u4e00-\u9fa5_a-zA-Z]/g
    // console.log(express.test(data)
    return !express.test(data)
  }
  
  const isTrueValidation = data => data == true
  
  // console.log(alpha('123'))
    const rules = reactive({
      login: {
        username: { 
          required,
          minLength: helpers.withMessage(() => "必须多于6个字符", minLength(6)),
          alphaNum: helpers.withMessage(() => "仅能是英文或数字", alphaNum),
        },
        password: { 
          required,
          minLength: helpers.withMessage(() => "必须多于6个字符", minLength(6)),
          // sameAspassword: helpers.withMessage(() => "请再次确认密码", checkedPasswordValidation)
        },
        checkedPassword: { 
          required,
          sameAspassword: helpers.withMessage(() => "请再次确认密码", checkedPasswordValidation)
          // sameAs: sameAs(allData.login.passowrd)
        }
      },
      user: {
        realName: { 
          required,
          minLength: helpers.withMessage(() => "必须多于2个字符", minLength(2)),
          chineseEngValidation: helpers.withMessage(() => "仅能输入中文、英文或符号", chineseEngValidation),
        },
        email: { 
          required, 
          email: helpers.withMessage(() => "不是一个合法的邮箱", email),
        },
        phone: { 
          required,
          length: helpers.withMessage(() => "不是一个合法的手机号", lengthValidation(11)) ,
          numeric: helpers.withMessage(() => "仅能是数字", numeric),
        },
        wechat: { 
          required,
          minLength: helpers.withMessage(() => "必须多于2个字符", minLength(2)),
          alphaNum: helpers.withMessage(() => "仅能是英文或数字", alphaNum),
        },
        QQ: { 
          required,
          minLength: helpers.withMessage(() => "必须多于5个字符", minLength(5)),
          numeric: helpers.withMessage(() => "仅能是数字", numeric),
        }
      },
      bank: {
        bankName: { 
          required
        },
        province: { 
          required 
        },
        city: { 
          required 
        },
        netDot: { 
          required,
          chineseValidation: helpers.withMessage(() => "仅能是中文", chineseValidation),
        },
        bankCardNumber: { 
          required,
          minLength: helpers.withMessage(() => "必须多于2个字符", minLength(2)),
          numeric: helpers.withMessage(() => "仅能是数字", numeric),
        },
        agreeCheck: { 
          isTrueValidation
 
        },
      }
    })
    const v$ = useVuelidate(rules, allData)
    // console.log('name: ', name)

    function handleStep() {
      let nowStep = ref(1) 
      let lastStep = ref(1)

      function setLastStep(num) {
        if(num > 4 || num < 1) {
          return
        }
        lastStep.value = nowStep.value 
        nowStep.value = num
       }

      function setStep(num) {
        if(num > 4 || num < 1) {
          return
        }

        stepClickStatus[nowStep.value] = true
        // 檢查資料，規格不符就不能往前

        if(nowStep.value == 1) {
          if(v$.value.login.$invalid) {
            showErrorMessage()
            return false 
          }
        } 
        
        if(nowStep.value == 2) {
          if(v$.value.user.$invalid) {
            showErrorMessage()
            return false 
          }
        }
        
        if(nowStep.value == 3) {
          if(v$.value.bank.$invalid) {
            showErrorMessage()
            return false 
          }
        }

        lastStep.value = nowStep.value
        nowStep.value = num
        
        return nowStep.value
      }

      return { nowStep, lastStep, setLastStep, setStep }
    }

    const stepClickStatus = reactive({
      '1': false,
      '2': false,
      '3': false
    })

    provide('allData', allData)

    return {
      nowStep,
      lastStep,
      setLastStep,
      setStep,
      noShowRegister,
      closeRegister,
      allData,
      stepClickStatus,
      registerSubmit,
      v$
    }
  },
  components: {
    SectionRegisterProcessBall,
    SectionRegisterDataLogin,
    SectionRegisterDataUser,
    SectionRegisterDataBank
  }

}
</script>
