
<template lang="pug">

.register-data.register-data-login  
  .test 
  .register-data-box 
    .register-data-box-title 
      .register-data-box-title-bold 账号 
      .register-data-box-title-description 设定长度6-12的英文数字
    .register-data-input.username-data-input-block(:class="{'grey-input': !stepClickStatus['1'] || !v.username.$invalid, 'red-input':  stepClickStatus['1'] && v.username.$invalid, 'black-input': inputFocusStatus.username}")
      span a_
      input(v-model="v.username.$model" maxlength="12" placeholder="账号" @focus="ToggleFocusInput('username')" @blur="ToggleFocusInput('username')")
    .errMsg(v-if="stepClickStatus['1'] && !v.username.minLength.$response") {{v.username.minLength.$message}}
    .errMsg(v-if="stepClickStatus['1'] && !v.username.alphaNum.$response") {{v.username.alphaNum.$message}}

  .register-data-box
    .register-data-box-title 
      .register-data-box-title-bold 密码 
      .register-data-box-title-description  限制长度6-30个任意字元组成
    .register-data-input.password-data-input-block(:class="{'grey-input': !stepClickStatus['1'] || !v.password.$invalid, 'red-input':  stepClickStatus['1'] && v.password.$invalid, 'black-input': inputFocusStatus.password}")
      input(ref='passwordInput' v-model="v.password.$model" type="password" placeholder="必填，如：qwe@567" @focus="ToggleFocusInput('password')" @blur="ToggleFocusInput('password')")
      span.password-eye(@click="() => { showPassword('password') }" )
    .errMsg(v-if="stepClickStatus['1'] && !v.password.minLength.$response") {{v.password.minLength.$message}}
    //- .errMsg(v-if="stepClickStatus['1'] && !v.password.sameAspassword.$response") password:{{v.password.sameAspassword.$message}}
  .register-data-box
    .register-data-box-title
      .register-data-box-title-bold 确认密码
    .register-data-input.checked-password-data-input-block(:class="{'grey-input': !stepClickStatus['1'] || !v.checkedPassword.$invalid, 'red-input':  stepClickStatus['1'] && v.checkedPassword.$invalid, 'black-input': inputFocusStatus.checkedPassword}")
      input(ref='checkedPasswordInput' v-model="v.checkedPassword.$model" type="password" maxlength="30" placeholder="必填，再次确认密码" @focus="ToggleFocusInput('checkedPassword')" @blur="ToggleFocusInput('checkedPassword')")
      span.password-eye(@click="() => { showPassword('checkedPassword') }" ) 
    .errMsg(v-if="stepClickStatus['1'] && (!v.checkedPassword.sameAspassword.$response)") checkedPassword{{v.checkedPassword.sameAspassword.$message}}
    


</template>

<script>
import { ref, reactive } from 'vue'

export default {
  name: 'SectionRegisterDataLogin',
  props: {
    "data": Object,
    'stepClickStatus': Object,
    'v': Object    
  },
  setup() {
   
    const passwordInput = ref(null)
    const checkedPasswordInput = ref(null)

    function showPassword (el) {
      
      let El = null
      if(el == 'password') {
        El = passwordInput.value
      } else if(el == 'checkedPassword') {
        El = checkedPasswordInput.value
      }
      
      if(El.getAttribute('type') === 'password') {
        El.setAttribute('type', 'text')      
      } else {
        El.setAttribute('type', 'password')
      }
    }
    
    
    
    function ToggleFocusInput(el) {
      
      if(inputFocusStatus[el]) inputFocusStatus[el] = false
      else inputFocusStatus[el] = true
    }

    const inputFocusStatus = reactive({
      'username': false,
      'password': false,
      'checkedPassword': false
    })

    return {
      passwordInput,
      showPassword,
      checkedPasswordInput,
      ToggleFocusInput,
      inputFocusStatus
    }
  },
  components: {

  }

}
</script>
