
<template lang="pug">
.register-data.register-data-user 
  .register-data-box 
    .register-data-box-title
      .register-data-box-title-bold 真实姓名 
      .register-data-box-title-description 须与银行账户名相同，否则无法出款
    .register-data-input.real-name-data-input-block(:class="{'grey-input': !stepClickStatus['2'] || !v.realName.$invalid, 'red-input':  stepClickStatus['2'] && v.realName.$invalid, 'black-input': inputFocusStatus.realName}")
      input(v-model="data.realName" placeholder="必填，如：张三"  @focus="ToggleFocusInput('realName')" @blur="ToggleFocusInput('realName')") 
    .errMsg(v-if="stepClickStatus['2'] && !v.realName.minLength.$response") {{v.realName.minLength.$message}}
    .errMsg(v-if="stepClickStatus['2'] && !v.realName.chineseEngValidation.$response") {{v.realName.chineseEngValidation.$message}}
  .register-data-box
    .register-data-box-title 
      .register-data-box-title-bold 邮箱 
    .register-data-input.email-data-input-block(:class="{'grey-input': !stepClickStatus['2'] || !v.email.$invalid, 'red-input':  stepClickStatus['2'] && v.email.$invalid, 'black-input': inputFocusStatus.email}")
      input(v-model='data.email' placeholder="必填，如：abc123@qq.mail" @focus="ToggleFocusInput('email')" @blur="ToggleFocusInput('email')") 
    .errMsg(v-if="stepClickStatus['2'] && !v.email.email.$response") {{v.email.email.$message}}
  .register-data-box
    .register-data-box-title
      .register-data-box-title-bold 手机
    .register-data-input.phone-data-input-block(:class="{'grey-input': !stepClickStatus['2'] || !v.phone.$invalid, 'red-input':  stepClickStatus['2'] && v.phone.$invalid, 'black-input': inputFocusStatus.phone}")
      input(v-model='data.phone' placeholder="必填，如：13318124787" @focus="ToggleFocusInput('phone')" @blur="ToggleFocusInput('phone')") 
    .errMsg(v-if="stepClickStatus['2'] && !v.phone.length.$response") {{v.phone.length.$message}}
    .errMsg(v-if="stepClickStatus['2'] && !v.phone.numeric.$response") {{v.phone.numeric.$message}}
  .register-data-box
    .register-data-box-title
      .register-data-box-title-bold 微信号
    .register-data-input.wechat-data-input-block(:class="{'grey-input': !stepClickStatus['2'] || !v.wechat.$invalid, 'red-input':  stepClickStatus['2'] && v.wechat.$invalid, 'black-input': inputFocusStatus.wechat}")
      input(v-model='data.wechat' placeholder="必填，如：abc123"  @focus="ToggleFocusInput('wechat')" @blur="ToggleFocusInput('wechat')") 
    .errMsg(v-if="stepClickStatus['2'] && !v.wechat.minLength.$response") {{v.wechat.minLength.$message}}
    .errMsg(v-if="stepClickStatus['2'] && !v.wechat.alphaNum.$response") {{v.wechat.alphaNum.$message}}
  .register-data-box
    .register-data-box-title
      .register-data-box-title-bold QQ号
    .register-data-input.QQ-data-input-block(:class="{'grey-input': !stepClickStatus['2'] || !v.QQ.$invalid, 'red-input':  stepClickStatus['2'] && v.QQ.$invalid, 'black-input': inputFocusStatus.QQ}")
      input(v-model='data.QQ' placeholder="必填，支持QQ号" @focus="ToggleFocusInput('QQ')" @blur="ToggleFocusInput('QQ')") 
    .errMsg(v-if="stepClickStatus['2'] && !v.QQ.minLength.$response") {{v.QQ.minLength.$message}}
    .errMsg(v-if="stepClickStatus['2'] && !v.QQ.numeric.$response") {{v.QQ.numeric.$message}}
  


</template>

<script>

import { inject, reactive } from 'vue'

export default {
  name: 'SectionRegisterDataUser',
  props: {
    "errMsg": Object,
    "stepClickStatus": Object,
    "v": Object
  },
  setup() {

    let data = inject('allData').user

      
    function ToggleFocusInput(el) {
      
      if(inputFocusStatus[el]) inputFocusStatus[el] = false
      else inputFocusStatus[el] = true
    }

    const inputFocusStatus = reactive({
      "realName": false,
      "email": false,
      "phone": false,
      "wechat": false,
      "QQ": false,
    })

    return {
      data,
      inputFocusStatus,
      ToggleFocusInput
    }
  },
  components: {

  }

}
</script>
