
<template lang="pug">

.ball-wrap(:class="{'red-ball': nowStep == number, 'checked-ball': nowStep > number, 'unchecked-ball': nowStep < number}") 
  .ball {{nowStep <= number ? number : "" }} 
  .step-description {{stepDescription}} 


</template>

<script>
export default {
  name: 'SectionRegisterProcessBall',
  
  props: {
    'number': String,
    'nowStep': Number,
    'stepDescription': String
  },
  
 

}
</script>
