$black: #000
$white: #fff
$red: #d11f18


// login-btn 用
$red-hover: #e41911

// jumbo-title
$gold: #dba84a

// join-btn
$dark-gold: #322707
$gold-hover: #ecb234

// contact-info
$contact-white: #faf6ed

// section-tax-background
$tax-background: #987429 
// section-tax-card 
$card-black: #2f2c28
$card-title: #a09278
$card-title-line: #756c5b

// footer
$footer-logo: #303133


@mixin block 
    border: 1px solid rgba(220,223,230,.4)
    max-width: 11.5rem
    padding: .375rem .75rem
    border-radius: 5px
    margin-right: 10px

@mixin icon($url, $width, $height)
    display: inline-block
    line-height: 1rem
    width: $width
    height: $height
    background-image: url($url)
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: .375rem
    align-items: center

@mixin logo($url, $width, $height, $size)
    width: $width
    height: $height
    background-image: url($url)
    background-size: $size
    background-position: center
    background-repeat: no-repeat

@mixin input
    width: 72%
    border: none
    outline: none
    background-color: $black
    color: $white
    padding: 0px 2px
    margin: 0



*
    // border: solid yellow 1px
    position: relative
    box-sizing: border-box

html, body
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,Microsoft JhengHei,Heiti,Microsoft YaHei Bold,sans-serif
    font-size: 17px
    width: 100%
    min-width: 1440px
    height: 100%
    font-weight: 400
    margin: 0
    padding: 0
    line-height: 1.15
    color: hsla(0,0%,100%,.8)
    letter-spacing: 0px
    // overflow: 

#app 
    font-family: Avenir, Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center

    .all
        // display: none
        width: 100%
        padding: 0
        margin: 0
        overflow-x: hidden
       
        .header
            width: 100%
            height: 56px
            background-color: $black
            font-size: .875rem
            .header-container
                position: absolute
                right: 0
                display: flex
                align-items: center
                padding-right: 15px
                transform: translate(0, 30%)
                .login
                    display: inline-block
                    .username, .password 
                        +block
                        display: inline-block
                    .username 
                        width: 11.5rem
                        .username-icon
                            +icon('./user.svg', .875rem, .9375rem)
                            transform: translate(0, 10%)
                        .username-input
                            +input
                        &:hover
                            border: 1px solid rgba(220,223,230,1)
                    .password 
                        width: 11.5rem
                        .password-icon
                            transform: translate(0, 10%)
                            +icon('./lock.svg', .875rem, .9375rem)
                        .password-input
                            +input
                        .password-eye
                            transform: translate(0, 10%)
                            cursor: pointer
                            +icon('./eye.svg', .875rem, .9375rem)
                        &:hover
                            border: 1px solid rgba(220,223,230,1)
                    .login-btn
                        cursor: pointer
                        display: inline-block
                        padding: .375rem 1.5rem
                        font-weight: bold
                        border-radius: 5px
                        min-height: 1.3rem
                        line-height: 1.3rem
                        font-size: 1rem
                        background-color: $red
                        margin-right: 10px
                        transition: 0.5s
                        &:hover
                            background-color: $red-hover
                .login-data-wrong-message
                    width: 140px
                    height: 35px
                    line-height: 25px
                    margin: 0 auto
                    font-size: 14px
                    border: solid 1px #fffbe6
                    background-color: #fffbe6
                    padding: 5px 8px
                    text-align: center
                    border-radius: 8px
                    position: absolute
                    left: -30%
                    animation-name: ShowNullMessage
                    animation-fill-mode: forwards
                    animation-timing-fundction: cubic-bezier(.39,.575,.565,1)
                    animation-duration: 0.5s
                    .login-data-wrong-message-description
                        color: rgba(0, 0, 0, 0.8)
                        position: relative
                        left: 7%
                        &::before
                            content: ""
                            +logo('./section-register-null-message.svg', 15px, 15px, contain)
                            position: absolute
                            left: -2%
                            top: 50%
                            transform: translate(0, -50%)
                        
                .problem-handle
                    display: inline-block
                    margin-right: 20px
                    
                    span
                        cursor: pointer
                        margin: 0px 5px
                        transition: 0.5s
                        &:hover
                            color: $white
                    .customer-service
                        display: inline-block
                        cursor: pointer
                        margin: 0px 5px
                        color: $white
                        filter: brightness(80%)
                        transition: 0.5s
                        &:hover
                            filter: brightness(100%)
                        .headphone-icon
                            transform: translate(0, 10%)
                            display: inline-block
                            +icon('./headphone.svg', .875rem, .9375rem)
                .country
                    display: inline-block
                    +icon('./china.svg', 1.5rem, 1.5rem)
       
        .section-logo
            background-color: #ddd
            width: 100%
            height: 57rem  
            margin-top: 96px
            .background
                width: 100%
                height: 100%
                transform: translate(0, -10%)
                +logo('./section-logo-background.jpg', 100%, 100%, cover)
                padding: 20px
                #particles-js
                    position: absolute
                    z-index: 10
                    width: 100%
                    height: 100vh
                    display: block
                    background-position: center
                    background-size: cover
                    background-repeat: no-repeat
                .logo
                    .jumbo-logo
                        margin: 0 auto
                        +logo('./jumbo-logo.png', 28.75rem, 23rem, cover)
                        .jumbo-title
                            letter-spacing: .75rem
                            font-size: 1.5rem
                            color: $gold
                            text-align: center
                            position: relative
                            top: 72%
                            font-weight: 700
                    .diamand-logo
                        +logo('./diamand.svg', 70px, 70px, cover)
                        position: absolute
                        right: 28%  
                        top: 32%
                    .dice-logo
                        +logo('./dice.svg', 80px, 80px, cover)
                        position: absolute
                        left: 26%
                        top: 14%
                    .coin-logo
                        +logo('./coin.svg', 200px, 200px, cover)
                        position: absolute
                        left: 18%
                        top: 34%

                .join-btn
                    display: inline-block
                    padding: 10px 45px
                    z-index: 20
                    margin-top: 40px
                    font-size: 1.5rem
                    color: $gold
                    letter-spacing: .5rem
                    border: 2px solid $gold
                    background: linear-gradient(90deg, $dark-gold 2%, rgba(18,14,2,0) 99%)
                    border-radius: 50px
                    &:hover
                        background-color: $gold-hover
                        color: $white
                        background: linear-gradient(270deg,rgba(255,190,64,.5),rgba(255,200,88,.9))
                        box-shadow: 0 0 30px 0 rgba(255, 195, 77, 70%)
                        cursor: pointer
                .contact-info
                    font-size: 1.5rem
                    letter-spacing: 1px
                    line-height: 22rem
                    font-weight: bold
                    color: $contact-white
        .section-register
            transition: 1s
            color: #303133
            width: 38.5rem
            min-height: 60vh
            height: auto
            overflow: visible
            background-color: $white
            position: absolute
            left: 50%
            top: 1.5%
            transform: translate(-50%, 0)
            z-index: 40
            border-radius: .625rem
            .register-data-wrong-message
                
                width: 140px
                height: 35px
                line-height: 25px
                margin: 0 auto
                font-size: 14px
                border: solid 1px #fffbe6
                background-color: #fffbe6
                padding: 5px 8px
                text-align: center
                border-radius: 8px
                position: absolute
                left: 50%
                top: -6.5%
                transform: translate(-50%, 0)
                animation-name: ShowNullMessage
                animation-fill-mode: forwards
                animation-timing-fundction: cubic-bezier(.39,.575,.565,1)
                animation-duration: 0.5s
                
                .register-data-wrong-message-description
                    // width: 200px
                    // height: 200px
                    position: relative
                    left: 7%
                    
                    &::before
                        content: ""
                        // box-shadow: inset 0 0 1px 1px #fbb614
                        +logo('./section-register-null-message.svg', 15px, 15px, contain)
                        position: absolute
                        left: -2%
                        top: 50%
                        transform: translate(0, -50%)
                        
                    

          
                
            .register-close
                cursor: pointer
                position: absolute
                right: 5%    
                top: 5%
                opacity: 0.8
                +logo('./join-data-close-icon.svg', 12px, 12px, cover)
                &:hover
                    opacity: 1
            .register-title
                font-size: 1.25rem
                font-weight: 700 
                position: relative
                top: 50px
            .register-process
                width: 90%
                position: absolute
                top: 130px
                left: 50%
                transform: translate(-50%, 0)
                display: flex
                justify-content: space-around
                .ball-wrap
                    width: 70px
                    text-align: center
                    color: #909399
                    .ball
                        margin: 0 auto
                        line-height: 35px
                        font-weight: 700
                        font-size: 1.3rem
                        width: 35px
                        height: 35px
                        border-radius: 100%
                    .step-description
                        font-size: 0.75rem
                        font-weight: 700
                        margin-top: 5px
                .register-process-line
                    top: 15px
                    width: 100px
                    height: 1px
                    opacity: 0.3
                    
            .register-datas 
                font-size: 0.875rem
                width: 268px
                position: relative
                left: 50%
                margin-top: 200px
                transform: translate(-50%, 0)
                display: flex
                margin-bottom: 90px
                .register-data
                    
                    width: 268px
                    margin: 0 20px
                    animation-fill-mode: forwards
                    animation-timing-fundction: cubic-bezier(.39,.575,.565,1)
                    animation-duration: 0.5s
                    .register-data-box
                        text-align: left
                        margin-bottom: 20px
                        .register-data-box-title
                            margin-bottom: 2px
                            .register-data-box-title-bold 
                                display: inline-block
                                margin-right: 10px
                                font-weight: 500
                            .register-data-box-title-description
                                font-size: 0.75rem
                                display: inline-block
                                color: #909399
                        .register-data-input
                            padding-left: 10px
                            font-size: 0.875rem
                            border-radius: 0.25rem
                            line-height: 1.15
                            margin-bottom: 8px
                            // border: 1px solid #dcdfe6
                            width: 248px
                            height: 34px
                            display: flex
                            align-items: center
                            // overflow: hidden
                            input
                                width: 100%
                                height: 100%
                                outline: none
                                background-color: rgba(0, 0, 0, 0)
                                cursor: pointer
                                border: none
                            span 
                                color: rgba(0, 0, 0, 0.4)
                                font-size: 14px
                            .password-eye
                                position: absolute
                                right: 0
                                transform: translate(0, 10%)
                                cursor: pointer
                                +icon('./eye.svg', .875rem, .9375rem)
                            .selector
                                cursor: pointer
                                position: absolute
                                right: 0
                                top: 8px
                                transition: 0.5s
                                z-index: -1
                                +icon('./section-register-selector.svg', .875rem, .9375rem)
                            .register-data-list
                                background-color: $white
                                width: 248px
                                height: 260px
                                border: 1px solid rgba(0, 0, 0, 0.2)
                                border-radius: 8px
                                padding: 2px 0 0 0 
                                text-align: left
                                position: absolute
                                top: 80%
                                left: 50%
                                transform: translate(-50%, 0)
                                z-index: 4
                                font-size: 14px
                                overflow-y: scroll
                                li  
                                    line-height: 40px
                                    width: 100%
                                    padding: 0px 15px
                                    height: 40px
                                    list-style-type: none
                                    cursor: pointer
                                    &:hover
                                        background-color: rgba(0, 0, 0, 0.1)
                    .register-agree-read
                        display: flex
                        align-items: center
                        .agree-read-check
                            cursor: pointer
                            font-size: 0.875rem
                            font-weight: bold
                        .uncheck
                            &::before
                                content: ""
                                width: 16px
                                height: 16px
                                display: block
                                border: 1px solid rgba(0, 0, 0, 0.4)
                                border-radius: 50%
                        .checked
                            +logo('./section-register-checked-red-icon.svg', 18px, 18px, contain)
                        .agree-read-description
                            font-weight: 800
                            margin-left: 5px
                            a
                                color: $red
                                text-decoration: none

                            


            .register-btns
                z-index: -1
                width: 250px
                position: absolute
                left: 50%
                bottom: 5%
                transform: translate(-45%)
                display: flex
                .register-btn
                    cursor: pointer
                    background-color: $red
                    color: $white
                    padding: .3rem 1.5rem
                    border-radius: .25rem
                    line-height: 1.25rem
                    
                .first-step-btn
                    width: 100%
                    transition: 0.5s
                .rest-step-btn, .last-step-btn
                    width: 45%
                    margin: 0 5px
                .last-step-btn
                    background-color: $white
                    color: $black
                    border: 1px solid rgba(0, 0, 0, 0.3)
            .errMsg
                margin: 5px 0px

                font-size: 10px
                color: $red

                &::before
                    content: ""
                    +icon('./section-register-errMsg-icon.svg', 15px, 15px)
                    position: relative
                    top: 3px

                
        .section-dominant
            height: 100vh
            position: relative
            margin-top: -22rem
            padding: 14.25rem 0 0
            color: $gold
            background: linear-gradient(180deg, rgba(18,16,15,0), rgba(18,16,15,.61) 6%, rgba(18,16,16,.95) 18%, #151413 40%, #221e1d)
            .dominant-container
                width: 100%
                .dominant-title
                    position: relative
                    top: -80px
                    font-size: 2.5rem
                    font-weight: 700
                    text-align: center
                    color: $white
                .dominant-list
                    width: 90%
                    margin: 0 auto
                    display: flex
                    flex-wrap: wrap
                    .dominant-item
                        width: 30%
                        margin: 0 auto
                        display: flex
                        align-items: center
                        text-align: left
                        padding: 10px
                        margin-bottom: 70px
                        .dominant-item-icon
                            width: 6.25rem
                            height: 6.25rem
                            margin-right: 1rem
                            background-size: cover
                            background-position: center
                        .dominant-item-info
                            width: 55%
                            .dominant-item-info-title
                                position: relative
                                top: -20px
                                font-weight: bold
                                font-size: 1.5rem
                            .dominant-item-info-article
                                font-size: 1.25rem
            .dominant-logo
                position: absolute
                right: 0%
                bottom: 0%
                +logo('./dominant-advantage-logo.svg', 45%, 131px, contain)
        .section-introduction
            
            +logo('./section-introdunction-background.jpg', 100%, 80vh, cover)
            .introduction-computer
                width: 800px
                +logo('./section-introduction-computer.png', 45rem, 45rem, contain)
    
                position: absolute
                top: -34%   
                left: 150px             
            .introduction-info
                text-align-last: left
                width: 700px
                position: relative
                right: -55%
                top: 27%
                .introduction-info-title
                    font-size: 2.5rem
                    letter-spacing: 0.375rem
                    font-weight: 700
                    margin-bottom: 35px
                .introduction-info-article
                    
                    font-size: 1.25rem
                    line-height: 1.4
            .introduction-balls
                width: 15%
                position: relative
                right: -70%
                top: -5%
                .yellow-ball
                    +logo('./section-introduction-yellow-ball.svg', 128px, 129px, cover)
                    position: absolute
                    right: 120%
                    top: -150px
                .purple-ball
                    +logo('./section-introduction-purple-ball.svg', 89px, 89px, cover)
                    position: absolute
                    left: -120%
                    top: -20px
                .green-ball
                    +logo('./section-introduction-green-ball.svg', 212px, 212px, cover)
                    position: absolute
                    right: 25%
                    top: -150px
                .red-ball
                    +logo('./section-introduction-red-ball.svg', 118px, 118px, cover)
                    position: absolute
                    right: -5%
                    top: -140px
                .blue-ball
                    +logo('./section-introduction-blue-ball.svg', 100px, 100px, cover)
                    position: absolute
                    right: 5%
                    top: 10px
        .section-tax
            height: 180vh
            padding-bottom: 200px
            position: relative
            background-color: $tax-background
            &::before
                content: ""
                display: block
                +logo('./section-tax-background.svg', 100%, 77vh, cover)
                position: absolute
                top: -75px
            .tax-logo-jumbo
                +logo('./section-tax-logo.svg', 100%, 152px, cover)
                margin: 0 auto
                position: relative
                top: -18.7vh
            .tax-info
                position: relative
                .tax-info-title
                    font-size: 2.5rem
                    letter-spacing: 0.375rem
                    margin: 0 0 2rem
                .tax-info-article
                    font-size: 1.25rem
            
            .tax-cards
                margin: 6rem auto
                width: 1230px   
                display: flex
                .tax-card
                    display: inline-block
                    width: 390px
                    height: 540px
                    margin: 0 5px
                    background-color: $card-black
                    color: $white
                    padding: 4.875rem 0
                    border-radius: 10px
                    .tax-card-icon
                        width: 3.5rem
                        height: 3.125rem
                        margin: 0 auto
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                    .tax-card-title
                        color: $card-title
                        margin: 2rem 0
                        font-size: 1.625rem
                        font-weight: 700
                        &::before
                            content: ""
                            display: block
                            width: 60%
                            height: 1px
                            margin: 0 auto
                            position: relative
                            bottom: -40px   
                            background-color: $card-title-line
                    .tax-card-bottom-info
                        .tax-card-bottom-info-title
                            font-size: 1rem
                            color: hsla(0,0%,100%,.5)
                            line-height: 1.4
                            margin-bottom: 0.5rem
                            font-weight: 500
                        .tax-card-bottom-info-num
                            font-size: 1.3rem
                            margin-bottom: 1rem
                .gold
                    position: absolute
                    right: 1%    
                    top: -3%
                    width: 430px
                    height: 570px
                    background: linear-gradient(0deg,#ebc753 0,#e7b31e 53%,#f5d840) 
                    transition: 1s
                    animation-name: goldFlip
                    animation-fill-mode: forwards
                    animation-timing-function: cubic-bezier(.39,.575,.565,1)
                    animation-duration: 1.2s
                    // animation-delay: .6s
                    .tax-card-icon
                        width: 20rem
                        height: 5rem
                        margin: 0 auto
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                    .tax-card-title
                        color: #37312b
                        margin: 2rem 0
                        font-size: 1.625rem
                        font-weight: 700
                        &::before
                            content: ""
                            display: block
                            width: 60%
                            height: 1px
                            margin: 0 auto
                            position: relative
                            bottom: -40px   
                            background-color: #ffecc8
                    .tax-card-bottom-info
                        .tax-card-bottom-info-title
                            color: #38322c
                            font-size: 1rem
                            line-height: 1.4
                            margin-bottom: 0.5rem
                            font-weight: 500
                        .tax-card-bottom-info-num
                            font-size: 1.3rem
                            margin-bottom: 1rem
             
            .tax-detail
                text-align: left
                width: 1300px
                margin: 0 auto
                display: flex
                justify-content: space-between
                font-size: 1rem
                line-height: 1.7rem
                letter-spacing: .03rem
                .tax-detail-box
                    width: 630px
                    .tax-detail-title
                        font-size: 1.5rem
                        font-weight: bold
                        margin-bottom: 25px
                        &::before
                            content: ""
                            display: inline-block
                            position: relative
                            top: 2px
                            +logo('./section-tax-arrow.svg', 1.25rem, 1.25rem, cover)
            .tax-logo-comission
                +logo('./section-tax-comission.svg', 85%, 160px, contain)
                position: absolute
                bottom: 0
                left: 50%
                transform: translate(-50%, 0)

        .footer
            .footer-logo
                background-color: $footer-logo
                width: 100%
                height: 20vh

                &::after
                    content: ""
                    display: inline-block
                    +logo('./footer-logo.png', 220px, 220px, contain)
                    position: absolute
                    left: 25%   
                    bottom: 0px
                    opacity: 0.6
                .footer-line
                    width: 50%
                    border-bottom: 1px solid $white
                    position: absolute
                    left: 50%
                    bottom: 22%
                    transform: translate(-50%, 0)
                    opacity: 0.6
            .footer-copyright
                background-color: $black
                font-size: 0.75rem
                width: 100%
                height: 10vh
                line-height: 2vh
                color: hsla(0,0%,100%,.4)
                display: flex
                align-items: center
                justify-content: center

@keyframes goldFlip
    0%
        transform: translate(0) translateZ(0) rotateY(0)
    30%
        transform: translate(70%) translateZ(0) rotateY(-90deg)    
    50%
        transform: translate(100%) translateZ(0) rotateY(-180deg)  
    50%
        transform: translate(70%) translateZ(0) rotateY(-90deg)      
    100%
        transform: translate(0) translateZ(0) rotateY(0)



// active


.red-bold-font
    background-color: rgba(0, 0, 0, 0.1)
    font-weight: bold
    color: $red
.brighter-border
    border: 1px solid rgba(220,223,230,1)

.darker
    filter: brightness(50%)
.no-show
    display: none

.noscroll 
    position: fixed
    overflow-y: scroll
    width: 100%


.fixWindow 
    position: fixed
    width: 100%

.red-ball
    .ball
        background-color: $red
        color: $white
        border: none
    .step-description
        color: $black
.checked-ball
    .ball
        background-color: $white
        border: none
        color: $red
        +logo('./section-register-checked-icon.svg', 20px, 20px, cover)
.unchecked-ball
    .ball
        border: 1px solid #909399    
.grey-input
    border: 1px solid #dcdfe6

.red-input
    border: 1px solid $red

.black-input
    border: 1px solid black

.white-input
    border: 1px solid rgba(220, 223, 230, .4)

.focus-white-input
    border: 1px solid rgba(220, 223, 230, 1)

.normal-line
    background: rgba(0, 0, 0, 0.9)



.red-line
    background: $red
.bold-line
    color: $red
    background: #909399

.fade-left
    animation-name: fadeLeft

.fade-right
    animation-name: fadeRight

.filp
    transform: rotate(180deg)

@keyframes fadeLeft
    0%
        transform: translate(20%, 0%)

        
    100%
        transform: translate(0%, 0)

@keyframes fadeRight
    0%
        transform: translate(-20%, 0%)
   
        
    100%
        transform: translate(0%, 0)

@keyframes ShowNullMessage
    0%
        transform: translate(-50%, 20%)

    100%
        transform: translate(-50%, 0%)
        






