<template>

  <div class='all'>
    <Header />
    <SectionLogo />
    <SectionRegister />
    <SectionDominant/>
    <SectionIntroduction/>
    <SectionTax/>
    <Footer/>
  </div >
</template>

<script>
import Header from './components/Header.vue'
import SectionLogo from './components/SectionLogo.vue'
import SectionRegister from './components/SectionRegister'
import SectionDominant from './components/SectionDominant.vue'

import SectionIntroduction from './components/SectionIntroduction'
import SectionTax from './components/SectionTax'
import Footer from './components/Footer'



import AOS from 'aos'
import "aos/dist/aos.css";



export default {
  name: 'App',
  components: {
    Header,
    SectionLogo,
    SectionRegister,
    SectionDominant,
    SectionIntroduction,
    SectionTax,
    Footer
  },
  created() {
    AOS.init()
  }
}
</script>

